<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body ng-app="app">
<div class="container">
    <h1>Recent Posts</h1>

    <div ng-controller="PostsCtrl">
        <input ng-model="postBody" class="form-control" type="text"/>
        <button ng-click="addPost()" class="btn btn-default">Add Post</button>
        <ul class="list-group">
            <li ng-repeat="post in posts" class="list-group-item">
                <strong>@{{ post.username }}</strong>
                <span>{{ post.body }}</span>
            </li>
        </ul>
    </div>
</div>
<script src="/front.js"></script>
<script src="/app.js"></script>
</body>
</html>
